services:
  version: v1
  db:
      name: wogdb
      type: ClusterIP
      selector: wogdb
      port: 3306
  games:
  - name: wog-maingame-svc
    type: NodePort
    selector: maingame
    nodeport: 30000
  - name: wog-guessgame-svc
    type: NodePort
    selector: guessgame
    nodeport: 30002
  - name: wog-memorygame-svc
    type: NodePort
    selector: memorygame
    nodeport: 30001
  - name: wog-currecyrollete-svc
    type: NodePort
    selector: currecyrollete
    nodeport: 30003
  - name: wog-scores-svc
    type: NodePort
    selector: scores
    nodeport: 30004

deployments:
  version: apps/v1
  db:
    name: wogdb
    replicaCount: 1
    image: evyatare92/wog7db
    cpu: 300m
    memory: 1024Mi
  list:
  - name: wog-currecyrollete
    replicaCount: 1
    image: evyatare92/wog_currecyrollete
    cpu: 100m
    memory: 256Mi
    selector: currecyrollete
  - name: wog-guessgame
    replicaCount: 1
    image: evyatare92/wog_guessgame
    cpu: 100m
    memory: 256Mi
    selector: guessgame
  - name: wog-maingame
    replicaCount: 1
    image: evyatare92/wog_maingame
    cpu: 100m
    memory: 256Mi
    selector: maingame
  - name: wog-memorygame
    replicaCount: 1
    image: evyatare92/wog_memorygame
    cpu: 100m
    memory: 256Mi
    selector: memorygame
  - name: wog-scores
    replicaCount: 1
    image: evyatare92/wog_scores
    cpu: 100m
    memory: 256Mi
    selector: scores

dbPassword: worldofgames
dbSize: 5Gi
